
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel='icon' href='img/favicon.ico' type='image/x-ico' /> 
    <title>Not Found</title>
</head>
<link href='css/404.css' rel='stylesheet' type='text/css'>
<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/404.js"></script>
<body>
<div id="apDiv1">
    <img src="img/404.png" class="image"/>
    <div class="text">Oops, no Fox found. </div>
</div>

</body>
</html>
