<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel='icon' href='img/favicon.ico' type='image/x-ico' /> 
	<title>Login</title>
	<style type="text/css">
		div#container {
			margin: auto;
			width: 400px;
			height: 320px;
			padding: auto;
		}
	</style>
</head>
<body>
	<div id="container">
	<fieldset>
		<legend>登录</legend>
		<form action="" method="POST">
		Username:<br/>
		<input type="text" name="username" /><br/>
		Password:<br/>
		<input type="password" name="passwd" /><br/> 
		<div></div><input type="submit" value="Login" /><br/>
		</form>
	</fieldset>
	</div>
</body>
</html>